attrs
beautifulsoup4
certifi
charset-normalizer
click
click-plugins
cligj
Fiona
geopandas>=0.14
idna
lxml
munch
packaging
pyparsing
pyproj
python-dateutil
pytz
requests
shapely>=2.0
six
soupsieve
urllib3
pandas
numpy
statsmodels